header{
    background-color: $header-color;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: $header-height;
    >div.headerContainer{
        max-width: $container-lg-width;
        margin: 0 auto;
        form{
            float: left;
            margin-left: 10px;
            width: 100%;
            max-width: 1230px;
            text-align: left;
            margin-top: 10px;
            position: relative;
            input{
                color: #333;
                font-size: .8em;
                position: inherit;
                padding: 5px 15px;
                height: 25px;
                margin-left: 10px;
                border-radius: 3px;
                border: 1px solid grey;
                width: 100%;
                max-width: 1180px;
            }
            button{
                position: absolute;
                height: 37px;
                right: 5px;
                width: 40px;
                >i{
                    color: #666;
                }
            }
        }
        a{
            margin-top: 4px;
            float: left
        }
    }
}

@media screen and (max-width:1500px){
    header{
        >div.headerContainer{
            max-width: $container-width;
            form{
                max-width: 630px;
                input{
                    max-width: 558px;
                }
            }
        }
    }
}

@media screen and (max-width:800px){
    header{
        >div.headerContainer{
            form{
                max-width: 300px;
                input{
                    max-width: 250px;
                }
            }
            img{
                margin-left: 5px;
            }
        }
    }
}

@media screen and (max-width: 500px){
    header{
        >div.headerContainer{
            form{
                max-width: 200px;
                input{
                    max-width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px){
    header{
        >div.headerContainer{
            form{
                max-width: 140px;
                input{
                    max-width: 90px;
                }
            }
        }
    }
}